<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <%= render "todos/high_priority_toggle", todo: todo %>

  <p>
    <%= link_to "Show this todo", todo %>
  </p>
</div>
